@import './variables';

.hom
{
    background-color: $bg_color;
    color: $text_color;
    
    height: fit-content;
    min-height: 100vh;
    box-sizing: border-box;
    padding-inline: 1%;

}

header
{
    display: flex;
    align-items: center;
    padding-block: 10px;
    /* justify-content: center; */
    font-family: $heading;
    font-weight: 500;
    font-size: 25px;
    border-bottom: solid $light_color 1px;
    p
    {
        margin: 0;
        margin-left: 4%;
    }
    .icon
    {
        margin-left: 80%;
    }
}

.x
{
    margin-left: 20%;
    h1
    {
        font-size: 32px;
        font-family: $secheading ;
        font-weight: 700;
        margin-block: 1.5%;
    }
}

.filter_buttons
{
    margin-block: 1.5%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    width: 450px;
    .elem
    {
        background-color: $light_color;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 40px;
        padding-inline: 2%;
        border-radius: 10px;
        width: fit-content;
    }
}


.all_restaurants
{
    display: grid;
    min-height: 430px;
    grid-template-columns: repeat(2,1fr);
    
    
}


.restlist
{
    // background-color: blue;
    height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 550px;
    border-radius: 5px;
    
    
    .immg
    {
        background-color: red;
        height: 80px;
        width: 100px;
        border-radius: 5px;
        margin-block: auto;
    }
    .all
    {
        margin-block: auto;
        margin-left: 20px;
        
        h2
        {
            font-family: Roboto;
            font-weight: 600;
            font-size: 22px;
        }
        .starsreviews
        {
            color : $text_light_color;
            font-weight: 500;
        }
    }
}

.restlist:hover
{
    background-color: $light_color;
    .starsreviews
    {
        color : $bg_color;
    }
}

.pagge
{
    a
    {
        cursor: pointer;
    }
    margin-block: 1.5%;
    display: flex;
    justify-content: center;
    // margin-left: 50%;
}

